#root {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    padding-inline: 20px;
    width: 100%;
}

.banner-h1-scribble::after {
    content: "";
    position: absolute;
    inset: 85% -20% auto -20%;
    aspect-ratio: 568 / 43;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/banner-h1-scribble.png);
}

.banner-h1-wrinkle::before {
    content: "";
    position: absolute;
    inset: -30px auto auto -10%;
    aspect-ratio: 387 / 320;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/banner-h1-wrinkle.png);
}

.about-banner {
    background-image: url(./assets/about-banner.png);
    background-position: center bottom;
    background-size: auto 40%;
    background-repeat: no-repeat;
}

:is(h1, h2, h3, h4, h5, h6, blockquote) {
    text-align: center;
}

@media (min-width: 768px) {
    section {
        padding-inline: 80px;
    }

    :is(h1, h2, h3, h4, h5, h6, blockquote) {
        text-align: initial;
    }

    .about-banner {
        background-size: contain;
    }
}